

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

*{
    margin: 10px;
    padding-left: 30px 20px 20px 20px;
}
h1 {
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
 
}
.header{
    background-repeat: no-repeat;
}
header {
    background-image: url("flower-shop-assignment/Flower\ Asset/pngwing 10.png");
     width:100%; 
    height: 100vh; 
    display:flex;
    background-position: right;
    position: relative;
    background-repeat: no-repeat;
    background: linear-gradient(rgb(243, 196, 204));
}
.header-img{
    width:80%;
}
.half-w{
 width: 50%;
}
.img-w{
    width:80%
}
.button{
    text-decoration: none;
    background-color: palevioletred;
    padding: 20px 20px 20px 20px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    border: 0;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
}
.features{
    padding-top: 128px;
}
.sec-section{
    text-align: center;
}
h2{
    font-size: 40px;
}
a{
    text-align: end;

}
.header-text{
    position: absolute;
    right: 68%;
    top:25%;
    text-align: left;
}
header::before
{
    background-color: rgba(226, 102, 102, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.all-features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.featured{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}

.featured img{

    position: relative;
    top: 100px;
    left: 20px;
}
#featured2{
    background: rgba(5, 151, 160, 0.15);
}
#featured3{
    background: rgba(71, 125, 17, 0.15);

}
#featured3 img{
    position: relative;
    top: 55px;
    left: 80px;

}
 .featured-under{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
 }
.featured-text{
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
}
.options{
    margin-top: 132px;
     width: 1440px;
height: 220px; 
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);

    display: flex;
    justify-content: space-around;
}
.option-info{
    padding-bottom: 80px;
}
.hot-deals{
     display: flex;
    align-items: center; 
    margin-top: 132px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

height: 620px;
}
.hot-info{
    padding-left: 295px;
   text-align: center;
}
.hot-button{
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}


.hot-off{
    color: #E55473;
}

.insta-flowers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 48px;
}
.insta-flower{
    width: 342px;
height: 396px;
}

.email-area{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
}
::placeholder{
    font-size: 16px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}
.banner{
    margin-top: 132px;
    background-image: url("flower-shop-assignment/Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    height: 449px;
    padding-top: 122px;
}
.get-details{
    text-align: center;
}
footer{
    padding-top: 210px;
    margin-top: 132px;
    text-align: center;
    background: #111010;
    color: #FFF;
height: 449px;
}
.footer-text{
    color: #FFF;
}
.footer-last{
    color: rgba(255, 255, 255, 0.40);
}